<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="Description" content="DSC180B Website"/>
        <meta name="Owners" content="A04 Capstone Group 01"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>DSC180B Website</title>
        <header id="explanation">
            <h1 id="intro">
                Welcome to our Yelp Recommender System!
            </h1>
            <p>
                The standard recommender system can be made using many different methods: Collaborative
                 Filtering, Alternating Least Squares, or K-Nearest Neighbors, and utilizing
                 features such as ratings, number of reviews, categories, genres, and other data that
                 could possibly be associated with a numerical value. However, there is a rarely used
                 feature that could change the game: Review Text! 
            </p>
            <p>
                Using numerical data, such as ratings and number of reviews, for a Yelp recommender system
                will only get you so far. By incorporating the review text as a feature, recommendations
                can become much more personalized, catering to aspects of a restaurant that can't be
                summed up in a simple number, such as service, popular food items, and atmosphere.
                Using this, we hope to create a more personalized recommender system that gathers
                data from reviews that the user has made and recommend restaurants that are more
                to the taste of the user. For example, if a user values short wait times and good
                service in restaurants, and mentions them frequently in their reviews, we hope to
                be able to recommend restaurants that others have praised for their good wait times
                and good service. Ultimately, we hope this will be a good way to experiment with
                growth in recommender systems.
            </p>
            <p>
                Our recommender system consists of two parts: a TF-IDF (Term Frequency - Inverse Document Frequency)
                recommendation method, and some Targeted Sentiment Analysis. For TF-IDF, we have two different
                options: to base the documents on restaurant reviews, or base them on user reviews. After
                selecting the base of the TF-IDF method, we produce phrases for each restaurant, and
                afterwards calculate the cosine similarity between restaurants. Given a query, this
                method can find the restaurants that match the query most accurately. The second part of
                our recommender system is a sentiment analysis on the review text using a program
                called AutoPhrase, which we use to segment phrases from reviews, as well as
                VADER (Valence Aware Dictionary and sEn-timent Reasoner) that detects positive and
                negative sentiments in text. By segmenting phrases from review text and then dividing
                reviews into positive and negative sentiment phrases, we can rank restaurants
                according to whether or not the restaurant reviews contain positive sentiment
                toward the users' queries.
            </p>
        </header>
    </head>
    <body>
        <header>
            <form id="user">
                <label for="userid" style="font-weight: bold;">User ID:</label>
                <input type="text" id="userid" name="userid">
            </form>
        </header>
        <br>
        <main>
            <section id="centerpiece">
                Yelp Recommender System
            </section>
            <section id="query">
                <form id="query1" method="POST">
                    <input type="text" id="querybox" name="querybox" placeholder="What are you looking for?">
                    <button type="button" id="submit"><i class="fa fa-search"></i></button>
                    <br>
                    <button type="button" id="veganButton" onclick="toggle(this)" value="OFF" style="background-color: lightgray; color: black;">Vegetarian</button>
                    <button type="button" id="foodButton" name="foodButton" value="ON" onclick="toggle(this)">Food</button>
                    <button type="button" id="restaurantButton" value="OFF" onclick="toggle(this)" style="background-color: lightgray; color: black;">Restaurant</button>
                    <input type="checkbox" id="foodButtonCheck" name="foodButtonCheck" checked>
                    <input type="checkbox" id="restButtonCheck" name="restButtonCheck">
                    <select id="location" name="location">
                        <option disabled selected value>Where at?</option>
                        <option value="Las Vegas">Las Vegas</option>
                        <option value="Phoenix">Phoenix</option>
                    </select>
                </form>
            </section>
            <section id='results'>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                <script>
                    $(document).ready(function(){
                        /* On click, run the below code */
                        $("#submit").click(function(){
                            /* Get query, location, and button */
                            var querytext = document.getElementById('querybox').value;
                            var location = document.getElementById('location').value;
                            var button_1 = document.getElementById('foodButton').value;
                            var vegan = document.getElementById('veganButton').value;

                            /* Send this information to python file */
                            req = $.ajax({
                                url: "/update",
                                type: "POST",
                                data: { querybox : querytext, location : location, foodButton : button_1 }
                            });

                            /* If the python file successfully processed the above information, do the code below */
                            req.done(function(data) {
                                /* Remove pre-existing results */
                                document.querySelectorAll('.result_div').forEach(e => e.remove());
                                document.querySelectorAll('.result_sep').forEach(e => e.remove());

                                /* Access the data passed in from the python file */
                                vars = data['data'];
                                /*for (var i in vars) {
                                    info = vars[i];
                                    info[0] = "Name: ".concat(info[0]);
                                    info[1] = "Address: ".concat(info[1]);
                                    //info[2] = "City: ".concat(info[2]);
                                    //info[3] = "State: ".concat(info[3]);
                                    info[2] = "Stars: ".concat(info[2]);
                                    info[3] = "Number of Reviews: ".concat(info[3]);
                                    info[4] = "Categories: ".concat(info[4]);
                                    vars[i] = info.join('\n');
                                }*/
                                /* For each restaurant, create a new div */
                                for (var i in vars) {
                                    info = vars[i];
                                    var newElement = document.createElement('div');
                                    var restName = document.createElement('h1');
                                    var restAddress = document.createElement('p');
                                    var restCity = document.createElement('p');
                                    var restState = document.createElement('p');
                                    var restStars = document.createElement('p');
                                    var restNumRevs = document.createElement('p');
                                    var restCats = document.createElement('p');
                                    restName.innerHTML = info[0];
                                    restAddress.innerHTML = "Address: ".concat(info[1]);
                                    restCity.innerHTML = "City: ".concat(info[2]);
                                    restState.innerHTML = "State: ".concat(info[3]);
                                    restStars.innerHTML = "Stars: ".concat(info[4]);
                                    restNumRevs.innerHTML = "Number of Reviews: ".concat(info[5]);
                                    restCats.innerHTML = "Categories: ".concat(info[6]);
                                    var elementSep = document.createElement('br');
                                    newElement.id = 'result_element';
                                    newElement.className = 'result_div';
                                    elementSep.className = 'result_sep';
                                    document.body.appendChild(newElement);
                                    newElement.appendChild(restName);
                                    newElement.appendChild(restAddress);
                                    newElement.appendChild(restCity);
                                    newElement.appendChild(restState);
                                    newElement.appendChild(restStars);
                                    newElement.appendChild(restNumRevs);
                                    newElement.appendChild(restCats);
                                    fade_in(newElement);
                                    document.body.appendChild(elementSep);
                                }
                                scrolldown();
                            });
                        })
                    })
                </script>
                <script src="{{ url_for('static', filename='results.js') }}" ></script>
            </section>
        </main>
    </body>
</html>